<HTML>
<head>
    <h1 class = "header">If you see nothing here, put a Spotify URI in the form!</h1>
</head>
<body><div class = "username">
    Logged in as: 
    {{
        current_user.username
    }}
</div>

    <link rel = "stylesheet" type = "text/css" href = "/static/style.css">
<h1 class = "name">
    {{
        song_name
    }}
</h1>
<h2 class = "artist">
    {{
        artist_name
    }}
</h2>
<h3>
    <img class = "cover" src= "{{ cover }}" >
</h3>
<h4>
    <audio class = "preview"
    controls
        src="{{ preview }}">
    </audio>
</h4>
<form class = "form" method = "POST" action = "/add_artists">
    <input type = "text" name = "new_artist" placeholder = "Add an Artist Here">
    <input type = "submit" value = "Submit">       
</form>
</body>
</HTML>